body {
    background-color: #002349 !important;
}

.title {
    font-family: 'Bitter', serif;
    color: #FCFDFF;
    letter-spacing: 3px;
}

.normal {
    font-family: 'Roboto';
    color: #FCFDFF;
}

.underline {
    text-decoration: underline;
    text-decoration-color: #FC5853;
}

.red {
    color: #FC5853;
}

.same-line {
    display: inline-block;
}

.content-pad {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 2rem !important;
}

h1 {
    font-size: 5rem !important;
}

@media (max-width : 768px) {
    h1 {
        font-size: 3rem !important;
    }
}

.btn {
    color: #FCFDFF;
    border-color: #FC5853 !important;
    border-width: 2px !important;
    background-color: #002349;
    outline-offset: 2px;
}

.btn:hover {
    color: #FCFDFF;
    background-color: #FC5853;
}

.footer {
    position: fixed;
    bottom: -5vh;
    width: 100%;
    height: 35vh;
}

.overlay {
    position: fixed;
    bottom: 25vh;
    width: 100%;
    height: 5vh;
    background-image: linear-gradient(to top, rgba(0,35,73,0), rgba(0,35,73,1));
}

.p-link {
    color: #FC5853;
}

.p-link:hover {
    color: #FC5853;
}